@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

html,

:root {
  --body-color: #000000;
  --navbar-color: #191c25;
  --text-color-light: #fff;
  --text-color-dark: #000000;
  --text-color-grey: #67738f;
  --primary-color: #2d31fa;
  --second-color: #051367;
  --main-color: #343957;
  --second-color: #6b51df;
  --text-color-dark: #434a6a;
  --text-color-light: #f8f9fa;
  --hover-color: #7a63dd;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--body-color);
}
.jumbo {
  padding-top: 100px;
  min-height: 200vh;
}

.btn:focus,
.btn:active {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.text-left {
  text-align: left !important;
}


.box:hover {
  box-shadow: 0 0 5px var(--hover-color);
  background-color: var(--hover-color);
  color: var(--text-color-light);
  border-color: var(--hover-color);; 
}

.lessblack{
  background-color: var(--navbar-color);
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card-title{
  font-family: fantasy;
}


footer{
  background-color: var(--navbar-color);
}




